---
layout: page
title: Post Categories
header: Post Categories
group: navigation
permalink: /categories/
redirect_from: /category/
---

{% include setup %}

<ul class="tag_box inline">
  {% assign categories_list = site.categories | sort %}
  {% include categories_list %}
</ul>

{% assign categories_list = site.categories | sort %}
{% for category in categories_list %} 
  <h2 id="{{ category[0] }}">{{ category[0] | capitalize | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include pages_list %}
  </ul>
{% endfor %}
{% assign categories_list = nil %}
